# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# uv
.venv/
uv.lock

# C++ build artifacts
build/
*.o

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Camera
Camera/

# YOLO models (compiled)
*.engine
*.onnx
*.cache

# 샘플 동영상
src/yolo/samples